<div id="teste" ng-controller="DashboardCtrl" ng-cloak>
	<a href="#dashboard/produto/cadastro">Cadastrar Produto</a>
	<a href="#/login">Teste</a>
	<div class="container-produtos">
		<div ng-repeat="produto in produtos">
			<div class="block" >
			  <div class="top">
			    <ul>
			      
			      <li>
			      	<span class="converse">{{ produto.categoria | categoriaByKey }}</span>
			      </li>
			     
			    </ul>
			  </div>
			  
			  <div class="middle crop">
			    <img src="{{ produto.imagem }}" alt="pic" />
			  </div>
			  
			  <div class="bottom">
			    <div class="heading">{{ produto.peca }}</div>
			    <div class="info">{{ produto.modelo | modeloByKey }}</div>
			    <!--<div class="style">Color: Red / Style: M9621C</div>-->
			    <div class="price">R${{ produto.valor }},00</div>
			  </div>  
			</div>
				
		</div>
			
	</div>
	
</div>
