<!DOCTYPE html>
<html>
<head>
	<title>Inicio</title>
	<meta charset="utf-8">
	<!-- SCROLLS -->
  	
  	<link rel="stylesheet" href="lib/bootstrap.min.css" />

  	<link rel="stylesheet" href="lib/font-awesome.min.css" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/produto.css" />
    <link rel="stylesheet" href="css/custom-bootstrap.css" />
    <!--<link rel="stylesheet" href="css/side-menu.css" />-->

  	<base href="/">
</head>
<body ng-app="app">
	<!-- CABEÇALHO -->
	<header>
		<nav class="navbar navbar-default" ng-controller="LoginCtrl">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Aqui Peças</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                	<li ng-if="!currentUser.email">
                        <a href="#/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Logar</a>
                    </li>
                    <li>
                        <a href="#/"><i class="fa fa-home"></i> Inicio</a>
                        </li>
                    <li ng-if="currentUser.email"><a href="#dashboard/produto/cadastro" >
                    <i class="fa fa-sign-out"></i> Produto</a></li>
                    <li><a href="#about"><i class="fa fa-shield"></i> Sobre</a></li>
                    <li><a href="#contact"><i class="fa fa-comment"></i> Contato</a></li>
                    <li ng-if="currentUser.email"><a href="" ng-click="logOut()">
                         <i class="fa fa-sign-out"></i>
                    {{ currentUser.email }}</a></li>
                    
                
                </ul>
            </div>
        </nav>
	</header>
	<!--SINGLE PAGE-->
   <!-- <aside>
        <div class="area"></div>
        <nav class="main-menu">
            <ul>
                <li>
                    <a href="#/dashboard/produto">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            UI Components
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Forms
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            Pages
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                            Graphs and Statistics
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-font fa-2x"></i>
                        <span class="nav-text">
                            Typography and Icons
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                       <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Tables
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
    </aside>-->
	<div id="contentHolder" ng-view>
		
	</div>
</body>

<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="application/javascript" src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script type="text/javascript" src="lib/firebase.js"></script>
<script type="application/javascript" src="/lib/imageupload.js"></script>
<script type="application/javascript" src="/lib/angularfire.min.js"></script>

<!-- MEUS SCRIPTS-->
<script type="application/javascript" src="scripts/main/app.js"></script>
<script type="application/javascript" src="scripts/services/authentication.service.js"></script>
<script type="application/javascript" src="scripts/services/API.service.js"></script>
<script type="application/javascript" src="scripts/services/FIPE.service.js"></script>
<script type="application/javascript" src="scripts/services/mapa.service.js"></script>

<script type="application/javascript" src="scripts/filters/filters.js"></script>


<script src="scripts/controllers/LoginControle.js"></script>
<script src="scripts/controllers/DashboardControle.js"></script>

<!-- FIREBASE -->

<script type="text/javascript">
    var config = {
        apiKey: "AIzaSyCnBiA5rV0-0FnBOHC1px7wmMrLllsMP-A",
        authDomain: "epecas-15395.firebaseapp.com",
        databaseURL: "https://epecas-15395.firebaseio.com",
        storageBucket: "epecas-15395.appspot.com",
        messagingSenderId: "766082602769"
    };
    firebase.initializeApp(config);

       
</script>


</html>