<div ng-controller="LoginCtrl" >
	
	<div class="container-login">
    <h2>Cadastro</h2>
		<form class="form-sign">
			<div class="form-group">
	            <label for="nomeEmpresa">Empresa</label>
	            <input type="text" ng-model="user.empresa" class="form-control" id="nomeEmpresa" placeholder="Nome da Empresa">
          	</div>
            <div class="form-group">
              <label for="cnpjEmpresa">CNPJ</label>
              <input type="text" ng-model="user.cnpj" class="form-control" id="cnpjEmpresa" placeholder="CNPJ">
            </div>
          	<div class="form-group">
	            <label for="emailEmpresa">Email</label>
	            <input type="email" ng-model="user.email" class="form-control" id="emailEmpresa" placeholder="Email">
          	</div>
          
          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" ng-model="user.senha" class="form-control" id="senha" placeholder="Senha">
          </div>
          <div class="form-group">
            <label for="confirma">Confirma</label>
            <input type="password" ng-model="confirmaSenha" class="form-control" id="confirma" placeholder="Confirme a senha">
          </div>

          <ng-map center="-3.0443101,-60.0371564" zoom="12"
            pan-control="true"
            zoom-control="true"
            scale-control="true">
          </ng-map>

          <div>
            <label for="empresaImagem">Imagem da Empresa</label>
            
            <input id="empresaImagem" 
                type="file" 
                accept="image/*" 
                image="user.imagem" 
                resize-max-height="230"
                resize-max-width="230"
                resize-quality="0.9" />
            <img style="width: 150px; height: 150px;" ng-show="user.imagem" ng-src="{{user.imagem.resized.dataURL}}"/>
          </div>
          
            
          </div>
          <table class="nav" align="center">
            <tr>
                <td>
                    <p>
                      <button type="submit" class="btn btn-primary" ng-click="registro(user)">Registrar</button>
                    <a href="#/login" class="btn btn-info" role="button">Cancelar</a></p>
                </td>
            </tr>       
          </table>
    </form>
	</div>
</div>
